/* -------------------------------
   Google Fonts
---------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");

/* -------------------------------
   Tailwind Directives
---------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------
   CSS Variables
---------------------------------- */
:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
}

/* -------------------------------
   Global Stylesj
---------------------------------- */
* {
    scroll-behavior: smooth;
}

html,
body {
    scroll-padding-top: 5rem;
    /* This offsets the fixed header */
    @apply bg-brand-light text-brand-dark font-sans antialiased;
}

/* -------------------------------
   Headings
---------------------------------- */

background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
url('...');


.text-glow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

h1,
.h1 {
    @apply section-title;
}

h2,
.h2 {
    @apply font-display text-3xl md:text-4xl font-semibold text-brand-primary;
}

h3,
.h3 {
    @apply font-display text-2xl font-semibold text-brand-secondary;
}

/* -------------------------------
   Paragraphs & Text
---------------------------------- */
p,
.body {
    @apply text-base text-gray-700 leading-relaxed;
}

a {
    @apply text-brand-primary transition hover:text-brand-accent;
}

/* -------------------------------
   Buttons
---------------------------------- */
.button {
    @apply inline-flex items-center justify-center font-code text-xs font-bold uppercase tracking-wider transition duration-200;
}

/* -------------------------------
   Utility Classes
---------------------------------- */
.section {
    @apply py-section px-container;
}

.card-shadow {
    @apply shadow-card hover:shadow-lg transition;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* -------------------------------
   Hover Effects on Cards
---------------------------------- */
.card-shadow {
    @apply shadow-card hover:shadow-xl transition-shadow duration-300 ease-in-out transform hover:-translate-y-1;
}